@{
    ViewBag.Title = "Book Ride";
}


<div class="general">
    <div class="panel panel-info widget-shadow">
        <div class="panel-heading">
            <h2 class="title2">@ViewBag.Title</h2>
        </div>
        <div class="panel-body">
            <h3 class="title3">Choose a Pick-Up Point</h3>
                <form>
                    <div class="search-box">
                        <input class="sb-search-input input__field--madoka" placeholder="Search Address..." type="search" id="input-31" />
                        <label class="input__label" for="input-31">
                            <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                            </svg>
                        </label>
                        
                    </div>
                </form>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Place Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="locations">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#input-31").keyup(function () {

                var q = "/Rides/GetPickupPlaces?q=".concat($("#input-31").val());
                    $.ajax({
                        url: q, success: function (result) {
                            $("#locations").html(result);
                        }
                    });
            });
        });
    </script>
}


