@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="general">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="title2">@ViewBag.Title</h2>
        </div>
        <div class="panel-body">
            <p>Your Password has been reset.</p>

        </div>
    </div>
</div>