@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using ZATApp.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = ZATApp.Common.Constants.APPLICATION_NAME + " RESTFul APIs";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}
<div class="general">
    <div class="panel-primary widget-shadow">
        <div class="panel-heading">
            <div class="panel-title">
                <h1 class="title">@ViewBag.Title</h1>
            </div>
        </div>
        <div class="panel-body">
            <h2 class="title2">Introduction</h2>
            <p>
                These RESTFul APIs provide assistance to the mobile applications to perform desired funcationalties.
            </p>
        </div>
    </div>
    <div class="clear-fix"></div>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
