@using System.Web.Http
@using ZATAppApi.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<div class="general">
    <div class="panel panel-default widget-shadow">
        @Html.ActionLink("Help Page Home", "Index", null, new { @class = "btn btn-primary" })
        <div class="panel-heading">
            <h1 class="title1">@Model.Name</h1>
        </div>
        <div class="panel-body">
            <p>@Model.Documentation</p>
            <div class="clearfix"></div>
            <section>
                @Html.DisplayFor(m => Model)
            </section>
        </div>
    </div>
</div>

<div id="body" class="help-page">
    
    
    
    
</div>
