
@{
    ViewBag.Title = "Error Page";
}

<h2 class="title1">Error Page</h2>

<div class="error-page">
    <div class="">
        <h2>Error</h2>
    </div>
    <div class="">
        <h3>Oops! There must be something wrong</h3>
    </div>
    <h4>
        <strong>@ViewBag.ErrorMessage</strong>
    </h4>
    <p>
        Please retry the last operation. If the problem persists contact to your service provider.
    </p>
</div>

