
@{
    ViewBag.Title = "Error 404";
}

<h2 class="title1">Not Found</h2>

<div class="error-page">
    <div class="">
        <h2>404</h2>
    </div>
    <div class="">
        <h3>Oops! Page Not Found</h3>
    </div>
    <p>
        We could not find the page you were looking for. Meanwhile, you may return to dashboard. If the problem persists contact to your service provider.
    </p>
</div>



