
@{
    ViewBag.Title = "Error 500";
}

<h2 class="title1">Internal Server Error</h2>

<div class="error-page">
    <div class="">
        <h2>500</h2>
    </div>
    <div class="">
        <h3>Oops! Something went wrong</h3>
    </div>
    <p>
        We could not find the page you were looking for. Meanwhile, you may return to dashboard. If the problem persists contact to your service provider.
    </p>
</div>

