<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/be0e3ced-7d39-4b85-a925-5b30eb61398e/resourceGroups/test_apps/providers/Microsoft.Web/sites/ZATApp</ResourceId>
    <ResourceGroup>test_apps</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://zatapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>zatapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ZATApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ZATApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ZATAppApi.ASPNetIdentity.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User ID=ut786@zatapp.database.windows.net;Password=Umair786" Name="Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User Id=ut786@zatapp.database.windows.net;Password=Umair786;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ZATAppApi.ASPNetIdentity.ApplicationDbContext, ZATAppApi" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ZATAppDbConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User ID=ut786@zatapp.database.windows.net;Password=Umair786" Name="Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User Id=ut786@zatapp.database.windows.net;Password=Umair786;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SPARKERZ_BRAIN\SQLEXPRESS;Initial Catalog=ZATAppDb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ZATAppDbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SPARKERZ_BRAIN\SQLEXPRESS;Initial Catalog=ZATAppDb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ZATAppDbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User Id=ut786@zatapp.database.windows.net;Password=Umair786;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ZATAppApi.ASPNetIdentity.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User Id=ut786@zatapp.database.windows.net;Password=Umair786;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ZATAppDbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User Id=ut786@zatapp.database.windows.net;Password=Umair786;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ZATAppApi.ASPNetIdentity.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User Id=ut786@zatapp.database.windows.net;Password=Umair786;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ZATAppDbConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User Id=ut786@zatapp.database.windows.net;Password=Umair786;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ZATAppApi.ASPNetIdentity.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zatapp.database.windows.net,1433;Initial Catalog=ZATAppDb;User Id=ut786@zatapp.database.windows.net;Password=Umair786;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ZATAppApi.ASPNetIdentity.ApplicationDbContext" />
  </ItemGroup>
</Project>