@using ZATApp.Models.Common

<!--footer-->
<div class="footer">
    <p>&copy; @DateTime.Now.Year Web Portal for @Constants.APPLICATION_NAME. All Rights Reserved | Developed by <a href="https://sparkers.000webhostapp.com/" target="_blank"><img src="~/images/Sparkers.png" alt="Sparkerz" class="" width="75" height="25" /></a> | Design Powered by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
</div>
<!--//footer-->
