@using ZATApp.Models.Common

<!--footer-->
<div class="footer">
    <p>&copy; @DateTime.Now.Year Web Portal for @Constants.APPLICATION_NAME. All Rights Reserved | Developed by <a href="https://sparkers.tk/" target="_blank">Sparkerz</a> | Design Powered by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
</div>
<!--//footer-->
