<!-- header-starts -->
<div class="sticky-header header-section ">
    <div class="header-left">
        <!--toggle button start-->
        <button id="showLeftPush"><i class="fa fa-bars"></i></button>

        <!--toggle button end-->

        <div class="profile_details">
            @*<img class="img-responsive" src="~/images/png_brand_logo.png" width="120" height="100" alt="@(ZATApp.Common.Constants.APPLICATION_NAME)_Logo" title="@(ZATApp.Common.Constants.APPLICATION_NAME)" />*@

        </div>


        <div class="clearfix"> </div>
    </div>
    <div class="header-right">

        @Html.Partial("_SearchBox")


        @Html.Partial("_ProfileDetails")
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //header-ends -->
