<li class="header">SUB-ADMIN NAVIGATION</li>
<li><a href="@Url.Action("BookRide", "Rides")"><i class="fa fa-angle-right text-red"></i> <span>Book Ride</span></a></li>
<li><a href="@Url.Action("RegisterDriver", "Drivers")"><i class="fa fa-angle-right text-yellow"></i> <span>Register Driver</span></a></li>
