@model IEnumerable<ZATApp.ViewModels.AreaViewModel>

@{
    ViewBag.Title = "Areas";
}

<div class="general">
    <div class="panel panel-info widget-shadow">
        <div class="panel-heading">
            <h2 class="title2">Areas</h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Remove", "RemoveArea2", new { uId = item.SubAdminId, aId = item.Id }, new { @class="btn btn-primary"})
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

