@{
    ViewBag.Title = "Payment Confirmation";
}

<div class="general">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="title2">Confrmation</h2>
        </div>
        <div class="panel-body">
            The received payment has been added to the system successfully.
        </div>
    </div>
</div>

